@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Black: #272a31;
  --Orange: #ec5242;
  --White: #d3d3d3;
  --Grey: rgb(65, 65, 72);
  --font-size-p: 1.05rem;
  --fontSize-h1: 2.5rem;
  --fontSize-h2: 1.8rem;
  --fontSize-h3: 1.2rem;
  --fontFamily-coco: "Cocogoose", san-serif;
  --fontFamily-lato: "Lato", sans-serif;
}


* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  height: 62px;
}

#mobile-menu {
  display: none;
}

nav .menu {
  width: 45px;
  height: 45px;
  margin-left: 6px;
  cursor: pointer;
}

.nav-links {
  display: none;
}

.nav-links ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
}

.bold {
  border: 2px solid red;
  padding: 5px;
  margin-bottom: 4px;

}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 84%;
  overflow: auto;
  background-color: #e7e7e7;
}

.menu-content {
  padding: 24px;
  width: 100%;
  height: 93%;
  background-color: #3c3a39;
}

.close {
  color: #867068;
  float: left;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.menu-content ul {
  padding-top: 52px;
}

.menu-content ul li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid #6f6c6b;
}

.partner-img ul li {
  display: inline;
  list-style-type: none;
  text-align: center;
  margin-right: 20px;
  align-items: center;
}

.partner a,
.partner1 a {
  padding: 5px 30px;
  font-size: 24px;
  color: rgb(204, 204, 195);
  text-align: center;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
}

.programs a {
  display: none;
  color: rgb(141, 137, 137);
  text-align: center;
}

.partner1 a {
  margin-left: 30px;
  padding-bottom: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(56, 47, 47);
  font-size: 1rem;
  font-weight: normal;
}



.menu-content ul li a {
  color: #fff5e1;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.desk-logo {
  display: none;
  width: 180px;
  height: 50px;
  padding-left: 30px;
}

.partner-img h1 {
  padding: 15px;
}

.nav-links a:hover {
  color: #280c77;
}

.nav-links a:active {
  color: #ffc857;
}

.headline-section {
  background-image: url(images/background.jpg);
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
}

.headline-section h2 {
  color: var(--Black);
  padding: 10px 0 10px 0;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: -20px;
  font-weight: 800px;
  text-align: left;
  font-size: var(--fontSize-h1);
  font-family: var(--fontFamily-coco);
}

.headline-section h1 {
  color: var(--Orange);
  font-family: var(--fontFamily-coco);
  font-weight: normal;
  text-align: left;
  margin-left: 20px;
  font-size: var(--fontSize-h2);
}

#staff .flex-container {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 50px;
  align-items: center;
}

.staff__head h2 {
  color: var(--Black);
  font-family: var(--fontFamily-lato);
  font-weight: 600;
  text-align: center;
}

.staff {
  display: flex;
}

.staff__img img {
  width: 130px;
  height: 130px;
  margin: 12px 20px 0 12px;
}

.staff__description h3 {
  font-family: var(--fontFamily-lato);
  color: var(--Black);
  font-weight: 800;
}

.staff__description h4 {
  margin-top: 10px;
  font-family: var(--fontFamily-lato);
  color: var(--Orange);
  font-style: italic;
  font-weight: 400;
}

.staff__description hr {
  width: 45px;
  color: var(--White);
  margin: 6px 0 10px;
  border: 1px solid var(--White);
}

.staff-inside {
  width: 50%;
  height: 40px;
  margin: auto;
  margin-top: 5%;
  border: 1px solid var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-inside a {
  text-decoration: none;
  color: var(--Black);
}

#staff {
  align-content: center;
  margin: 10% 0 4%;
}

.fas {
  color: var(--Orange);
}

.footer-info {
  font-size: 15px;
  font-weight: 800;
  color: rgb(221, 210, 210);
  text-align: left;
  line-height: 14px;
  margin-right: 40px;
}

.footer-sec p {
  color: azure;
  font-size: 14px;
  text-align: left;
  margin: 0;
  font-family: "Poppins", sans-serif;
}


#about-description {
  border: 3px solid white;
  margin: 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);

}

#description {
  margin: 0 20px;
  border: 2px solid white;
  padding: 8px;
}

.logo-info h1 {
  color: rgb(70, 56, 56);
  font-size: 16px;
  margin: 0 60px;
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

.logo-info p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center;
  padding: 20px;
}

.footer-about p {
  color: azure;
  font-size: 14px;
  text-align: left;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.history p {
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.email p {
  color: rgb(240, 236, 236);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.main-desc p {
  color: antiquewhite;
  text-align: left;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}



.descript p {
  text-align: left;
  margin: 0;
}

.intro p {
  text-align: left;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  margin-right: 0;
}

#description p,
#about-description p {
  font-size: 14px;
  margin: 0 2px;
  line-height: 24px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: rgb(41, 38, 38);
}

.intro h3 {
  font-size: 24px;
  font-weight: 800;
  font-family: s "Crete Round", serif;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
}

.intro {
  margin-bottom: 40px;
}

.programs {
  background: #272a31 url(./images/pattern-bg.png);
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 2;
  padding: 15px;
  width: 100%;
}

.programs h1 {
  color: var(--White);
  text-align: center;
  font-family: var(--fontFamily-lato);
  padding-top: 10px;
}

.main-div {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template: 1fr / 0.9fr 3fr;
  justify-content: left;
  align-items: center;
  align-content: space-between;
  padding: 1% 7%;
  gap: 27px;
  margin-bottom: 10px;

}

.main-sec {

  height: 80px;
  width: 80%;
  margin-left: 2rem;
  font-size: var(--fontSize-h3);
  margin-top: 50px;
  font-weight: bold;
  color: var(--White);
  border: 0;
  background-color: var(--Orange);
}

.main-sec h1 {
  font-family: "Crete Round", serif;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-left: 40px;
}

.lecturer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
}

.descript h4 {
  font-family: var(--fontFamily-lato);
  color: var(--Black);
  font-weight: 800;
}

.main-title {

  color: var(--Orange);
  text-align: center;
  min-width: 83px;
  font-family: var(--fontFamily-lato);
  font-size: var(--fontSize-h3);
}

.first {
  font-family: var(--fontFamily-lato);
  color: var(--Orange);
  font-style: italic;
  font-weight: 400;
}

.second {
  font-size: var(--font-size-p);
  font-family: "Crete Round", serif;
}



.logo {
  width: 60px;
  align-items: left;
  padding-right: 15px;
  padding-top: 10px;
}

.partner1 {
  display: none;
  text-align: center;
}

.card1,
.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  min-width: 310px;
  margin: 10px;
  min-height: 250px;
  background: rgba(177, 19, 19, 0.6);
  margin-bottom: 30px;
  transition: background-color 1s;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.card1:hover,
.card2:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.card1::before,
.card2::before {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background: url(./images/card1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card2::before {
  background: url(./images/card2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card1 h3,
.card2 h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--White);
  font-family: var(--fontFamily-lato);
}

.card1 p,
.card2 p {
  text-align: center;
  color: var(--White);
  margin: 0;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #414246 !important;
}

.fo {
  display: none;
}

.more {
  border: 1px solid gray;
  margin: 10px;
  height: 50px;
}

.more h1 {
  font-size: 14px;
  color: rgb(44, 40, 40);
  align-items: center;
  padding: 5px;
}

.flash {
  color: red;
}

/* style of about page */
.headline-about {
  background-image: url(images/backgroundAbout.jpg);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 2;
  padding: 50px;
  width: 100%;
}

.headline-about h1 {
  color: red;
  font-size: 20px;
  margin-left: 0;
  line-height: 50px;
  text-align: center;
  font-family: "Crete Round", serif;
  margin-bottom: 5px;
}

.headline-about h2 {
  color: red;
  padding: 10px 0 10px 0;
  font-size: 32px;
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 800;
  text-align: center;
  font-family: "Crete Round", serif;
}

.email h2 {
  color: rgb(235, 229, 229);
  font-size: 16px;
}

.hide {
  display: none;
}

.footer-logo {
  width: 60px;
  height: 50px;
  margin: 15px;
}

.logo-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 2px solid gray;
  padding-bottom: 30px;
}

.logo-img {
  margin: 0 50px;
  border: 1px solid gray;
  padding: 10px;
  height: 200px;
}

.p2 {
  display: none;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.history h1 {
  color: black;
  text-align: center;
  font-size: 19px;
  font-family: sans-serif;
}

.partner {
  width: 100%;
  padding: 20px;
}

.partner,
.partner1 {
  background-color: rgb(82, 78, 78);
  height: 240px;
}

.partner h1,
.partner1 h1 {
  text-align: center;
  color: rgb(128, 132, 134);
}

.footer-about img {
  width: 100px;
  height: 80px;
  padding-left: 20px;
}

.footer-about h1 {
  font-size: 15px;
  color: black;
  font-family: "Crete Round", serif;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;

}

.footer-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  background-color: rgb(63, 56, 56);
  padding-top: 30px;
  padding-left: 10px;
  height: 200px;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .menu {
    display: none;
  }

  .all-staff-members {
    display: flex;
    flex-wrap: wrap;
  }

  .staff {
    display: flex;
    padding: 0;
    width: 50%;
    margin-top: 22px;
  }

  .all-staff-members {
    display: flex;
    flex-wrap: wrap;
  }

  #staff .flex-container {
    width: 80%;
  }

  .staff-inside {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .staff {
    display: flex;
    padding: 0;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 22px;
  }

  .staff__description {
    width: 30%;
  }

  .staff__description p {
    width: 165% !important;
    font-family: var(--fontFamily-lato);
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  #mobile-menu {
    display: block;
  }

  .programs h1 {
    font-size: 2.5rem;
  }

  .card1,
  .card2 {
    width: 500px;
    height: 360px;
    margin-left: 30px;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 0;
    height: 70px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 2px;
  }

  .desk-logo {
    display: block;
  }

  .headline-section {
    padding: 120px 120px 60px 90px;
  }

  .headline-section h1 {
    font-size: 40px;
    font-weight: 100;
  }

  .headline-section h2 {
    font-weight: 800;
    font-size: 4rem;
  }

  #description {
    width: 70%;
  }

  .main-program {
    display: flex;
    flex-direction: row;
    gap: 10px;

  }

  .main-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: auto;
    height: auto;
    transition: border 1.4s;
  }

  .lecturer {
    flex-direction: column;
  }

  .main-desc p {
    color: var(--White);
    font-family: var(--fontFamily-lato);
    font-size: var(--font-size-p);
  }

  .main-sec {
    display: none;
  }

  .programs {
    padding: 70px;
  }

  .programs a {
    display: block;
  }

  .programs h1 {
    font-weight: 100;
  }



  .all2,
  .all3 {
    display: block;
    display: flex;
    flex-direction: row;
  }


  .all {
    display: flex;
    flex-direction: row;
  }

  .more {
    display: none;
  }

  .partner1 {
    display: block;
    padding: 20px;
    height: 200px;
  }

  .right p {
    font-size: 13px;
    text-align: left;
  }

  .footer {
    display: block;
    flex-direction: row;
    padding: 30px 60px;
  }

  .headline-about {
    padding-top: 100px;
  }

  .headline-about h1 {
    display: none;
  }

  .headline-about h2 {
    font-size: 50px;
  }


  #about-description,
  .email h1,
  .email h2 {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  .email p,
  #about-description p {
    text-align: center;
    font-size: 15px;
  }

  .email h2 {
    font-size: 18px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
  }

  .logo-info h1 {
    margin-top: 30px;
    font-size: 22px;
  }


  .show {
    display: none;
  }

  .hide {
    display: block;
  }

  .logo-info {
    padding-left: 15%;
    padding-right: 15%;
  }

  .logo-img {
    width: 60%;
    margin-left: 20%;
  }

  .history-img {
    display: flex;
    flex-direction: row;
    padding: 30px 70px;
  }


  .partner {
    display: none;
  }

  .p2 {
    display: block;

  }



  .footer-logo {
    width: 90px;
    height: 80px;
    margin-right: 5px;
  }

}