@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  background-image: url(images/background.jpg);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  height: 50px;
}

#mobile-menu {
  display: none;
}

nav .menu {
  width: 45px;
  height: 45px;
  margin-left: 6px;
  cursor: pointer;
}

.nav-links {
  display: none;
}

.nav-links ul li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  text-align: center;
  margin-right: 20px;
}

.bold {
  border: 3px solid red;
  padding: 10px 10px 10px 20px;
}

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  height: 84%;
  overflow: auto;
  background-color: #e7e7e7;
}

.menu-content {
  padding: 24px;
  width: 100%;
  height: 93%;
  background-color: #3c3a39;
}

.close {
  color: #867068;
  float: left;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.menu-content ul {
  padding-top: 52px;
}

.menu-content ul li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid #6f6c6b;
}

.partner a,
.partner1 a {
  padding: 5px 30px;
  font-size: 24px;
  color: rgb(204, 204, 195);
  text-align: center;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
}

.programs a {
  display: none;
  color: rgb(141, 137, 137);
  text-align: center;
}

.partner-img a {
  padding-left: 46px;
}

.partner1 a {
  margin-left: 30px;
  padding-bottom: 20px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(56, 47, 47);
  font-size: 0.938rem;
  font-weight: 600;
}

.moreSpeakers a {
  color: #3c3a39;
  text-decoration: none;
  font-size: 22px;
  font-weight: 100;
}

.menu-content ul li a {
  color: #fff5e1;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.desk-logo {
  display: none;
  width: 180px;
  height: 70px;
  padding-left: 60px;
}

.partner-img h1 {
  padding: 15px;
}

.nav-links a:hover {
  color: #fff5e1;
}

.nav-links a:active {
  color: #ffc857;
}

.headline-section {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 2;
  padding: 55px 0;
  width: 100%;
}

.headline-section h2 {
  color: red;
  padding: 10px 0 10px 0;
  font-size: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: -20px;
  font-weight: 800px;
  text-align: left;
  font-family: sans-serif;
}

.headline-section h1 {
  color: red;
  font-size: 20px;
  font-weight: 800;
  margin-left: 30px;
  line-height: 50px;
  font-family: "Inter", sans-serif;
}

.footer-info {
  font-size: 13px;
  font-weight: bold;
  color: rgb(99, 86, 86);
  padding-left: 5px;
  padding-right: 15px;
}

#about-description {
  border: 7px solid white;
  margin: 0;
  padding: 8px;
  background-color: white;
}

#description {
  margin: 0 20px;
  border: 7px solid white;
  padding: 8px;
}

.logo-info h1 {
  color: rgb(70, 56, 56);
  font-size: 16px;
  margin: 0 60px;
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

.logo-info p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center;
  padding: 20px;
}

.footer-about p {
  color: azure;
  font-size: 14px;
  text-align: left;
  padding-right: 2px;
  margin-right: 0;
  font-family: "Poppins", sans-serif;
}

.history p {
  padding: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.email p {
  color: rgb(119, 112, 112);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.main-desc p {
  color: antiquewhite;
  text-align: left;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.descript {
  height: 150px;
}

.descript p {
  text-align: left;
  margin: 0;
}

.intro p {
  text-align: left;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  margin-right: 0;
}

#description p,
#about-description p {
  font-size: 14px;
  margin: 0 2px;
  line-height: 24px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: rgb(41, 38, 38);
}

.intro h3 {
  font-size: 24px;
  font-weight: 800;
  font-family: s"Crete Round", serif;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 0;
}

.intro {
  margin-bottom: 40px;
}

.programs {
  background-image: url(images/feature-image.jpg);
  margin-top: -30px;
  padding-bottom: 10px;
}

.main-program {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 2;
  padding: 15px;
  width: 100%;
}

.programs h1 {
  text-align: center;
  color: azure;
}

.main-div {
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 40, 40);
  margin-bottom: 20px;
  padding-left: 15px;
}

.main-sec {
  border: 0 solid rgb(216, 79, 54);
  background-color: rgb(212, 50, 21);
  padding: 15px;
  display: flex;
  flex-direction: row;
  margin: 20px 40px;
}

.main-sec h1 {
  font-family: "Crete Round", serif;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-left: 40px;
}

.speakers {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding: 20px;
}

#speakers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2px;
}

.sp1,
.sp2 {
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  padding-right: 5px;
}

.sp3,
.sp4,
.sp5,
.sp6 {
  display: none;
}

.speakers h1 {
  color: rgb(29, 20, 20);
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.moreSpeakers {
  border: 2px solid gray;
  margin: 5px;
  padding: 10px;
  text-align: center;
  height: 80px;
}

.lecturer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
}

.descript h4 {
  font-size: 20px;
  columns: black;
  margin: 0;
  margin-left: 14px;
  font-family: "Crete Round", serif;
}

.main-title {
  font-size: 16px;
  float: right;
  color: rgb(185, 34, 34);
}

.first {
  color: red;
  padding-top: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.second {
  padding-top: 0;
  font-size: 15px;
  font-family: "Crete Round", serif;
}

.speaker-img {
  width: 150px;
  height: 150px;
  padding-right: 10px;
}

.logo {
  width: 60px;
  align-items: left;
  padding-right: 15px;
  padding-top: 10px;
}

.partner1 {
  display: none;
}

.footer {
  display: none;
}

.fo {
  display: none;
}

.more {
  border: 1px solid gray;
  margin: 10px;
  height: 50px;
}

.more h1 {
  font-size: 14px;
  color: rgb(44, 40, 40);
  align-items: center;
  padding: 5px;
}

.flash {
  color: red;
}

/* style of about page */
.headline-about {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 2;
  padding: 50px;
  width: 100%;
}

.headline-about h1 {
  color: red;
  font-size: 20px;
  margin-left: 0;
  line-height: 50px;
  text-align: center;
  font-family: "Crete Round", serif;
  margin-bottom: 5px;
}

.headline-about h2 {
  color: red;
  padding: 10px 0 10px 0;
  font-size: 32px;
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 800;
  text-align: center;
  font-family: "Crete Round", serif;
}

.email h2 {
  color: rgb(53, 47, 47);
  font-size: 16px;
}

.hide {
  display: none;
}

.logo-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-bottom: 2px solid gray;
  padding-bottom: 30px;
}

.logo-img {
  margin: 10px 0 10px 50px;
  border: 1px solid gray;
  padding: 10px;
  width: 80%;
  height: 200px;
}

.p2 {
  display: none;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-img {
  display: flex;
  flex-direction: column;
}

.history-img img {
  width: 100%;
  padding: 5% 10%;
  align-items: center;
}

.history h1 {
  color: black;
  text-align: center;
  font-size: 19px;
  font-family: sans-serif;
}

.partner {
  width: 100%;
  padding: 20px;
}

.partner,
.partner1 {
  background-color: rgb(82, 78, 78);
  height: 240px;
}

.partner h1,
.partner1 h1 {
  text-align: center;
  color: rgb(128, 132, 134);
}

.footer-about img {
  width: 100px;
  height: 80px;
  padding-left: 20px;
}

.footer-about h1 {
  font-size: 15px;
  color: black;
  font-family: "Crete Round", serif;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  padding-right: 30px;
}

.footer-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  background-color: rgb(63, 56, 56);
  padding-top: 30px;
  padding-left: 10px;
  height: 200px;
  width: 100%;
}

@media screen and (min-width: 760px) {
  .menu {
    display: none;
  }

  #mobile-menu {
    display: block;
  }

  nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 0;
    height: 70px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    padding: 2px;
  }

  .desk-logo {
    display: block;
  }

  .headline-section {
    padding: 120px 120px 60px 90px;
  }

  .headline-section h1 {
    font-size: 40px;
    font-weight: 100;
  }

  .headline-section h2 {
    font-weight: 800;
    font-size: 70px;
  }

  #description {
    width: 70%;
  }

  .main-program {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 100%;
  }

  .main-div {
    flex-direction: column;
    margin-right: 5px;
    padding-right: 0;
    height: 14%;
  }

  .lecturer {
    flex-direction: column;
  }

  .main-desc p {
    text-align: center;
    padding-bottom: 7px;
    margin: 0;
  }

  .main-sec {
    display: none;
  }

  .programs {
    padding: 70px;
  }

  .programs a {
    display: block;
  }

  .programs h1 {
    font-weight: 100;
  }

  .speakers {
    flex-direction: column;
    padding: 20px 50px;
  }

  .all2,
  .all3 {
    display: block;
    display: flex;
    flex-direction: row;
  }

  .all {
    display: flex;
    flex-direction: row;
  }

  .more {
    display: none;
  }

  .partner1 {
    display: block;
    padding: 20px;
    height: 200px;
  }

  .footer {
    display: block;
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
  }

  .right p {
    padding-top: 10px;
    text-align: left;
  }

  .headline-about h1 {
    display: none;
  }

  .headline-about {
    padding-top: 100px;
  }

  .headline-about h2 {
    font-size: 50px;
  }

  #about-description,
  .email h1,
  .email h2 {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  .email p,
  #about-description p {
    text-align: center;
    font-size: 15px;
  }

  .email h2 {
    font-size: 18px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
  }

  .logo-info h1 {
    margin-top: 30px;
    font-size: 22px;
  }

  #speakers-container {
    padding: 20px;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 46% 46%;
    padding-bottom: 2px;
  }

  .show {
    display: none;
  }

  .hide {
    display: block;
  }

  .logo-info {
    padding-left: 15%;
    padding-right: 15%;
  }

  .logo-img {
    width: 60%;
    margin-left: 20%;
  }

  .history {
    padding: 30px 70px;
  }

  .history-img {
    flex-direction: row;
    padding-left: 14%;
    padding-right: 14%;
  }

  .history-img img {
    width: 400px;
    padding-left: 0;
  }

  .partner {
    display: none;
  }

  .p2 {
    display: block;
    padding-top: 5px;
  }

  .moreSpeakers {
    display: none;
  }

  .sp1,
  .sp2,
  .sp3,
  .sp4,
  .sp5,
  .sp6 {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    padding: 20px 10px;
  }

  .footer-logo {
    width: 90px;
    height: 80px;
    padding-right: 10px;
  }
}
